<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Frequently asked questions:</p>
  <ul>
  	<li>Why can't I sign up?</li>
  	<li>What if I lose my password?</li>
  	<li>How do I upload a video?</li>
  </ul>