<div class="center hero-unit">
  <h1>Welcome to Casevids</h1>
  	<%= image_tag('haas.case.cover.png') %>
	  <h2>
		CaseVids makes it easy to get feedback from other students and coaches!
	  </h2>

	  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
		</div>
	</div>
</div>