<div class="center hero-unit">
  <h1>Welcome to CaseVids</h1>
  	<%= image_tag('haas.case.cover.png') %>
	  <h2>
		CaseVids makes it super easy to get case prep feedback!
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
		</div>
	</div>
</div>