<hr>
  <div class="row-fluid">
    <div class="span4 well center"><%= sortable "title" %></div>
    <div class="span4 well center">Category</div>
    <div class="span4 well center">User</div>
  </div>
 <hr>