<h1>Wikiful Articles</h1>

  <div class="row-fluid">
      <div class="span8">
        Category & search space
      </div>
      <div class="span4 btn-group"> 
        <div class="pull-right"><button type="button" class="btn btn-primary"><%= link_to 'Contribute a New Article', new_article_path %> </btn></div>
      </div>
  </div>

<hr>
  <div class="row-fluid">
    <div class="span4 well center">Title</div>
    <div class="span4 well center">Category</div>
    <div class="span4 well center">Author</div>
  </div>
    <% @articles.each do |article| %>
  <div class="row-fluid">
    <div class="span4"><%= link_to article.title, article %></div>
    <div class="span4 center"><%= article.category %></div>
    <div class="span4 center"><%= article.user.email %></div>
  </div>
  <% end %>

<hr>
