<h1>Wikiful Articles</h1>

<hr>
  <div class="row-fluid">
    <div class="span4 well center">Title</div>
    <div class="span4 well center">Category</div>
    <div class="span4 well center">Author</div>
  </div>
    <% @articles.each do |article| %>
  <div class="row-fluid">
    <div class="span4"><%= link_to article.title, article %></div>
    <div class="span4 center"><%= article.category %></div>
    <div class="span4 center"><%= article.user %></div>
  </div>
  <% end %>

<hr>
  <div class="row-fluid">
      <div class="span12"> <%= link_to 'Contribute a New Article', new_article_path %> </div>
  </div>