<% provide(:title, 'All users') %>
<h1>All users</h1>

<span class="pull-right"><%= will_paginate @users %></span>


<div class="users" style="margin-top:100px">  
  <%= render @users %>
</div>

<span class="pull-right"><%= will_paginate %></span>

<div style="margin-bottom:80px;"></div>